* {
	padding: 0;
	margin: 0;
}
@font-face {
	font-family:iconFont;
	src: url("../fonts/fontawesome-webfont.woff2") format('woff')
		,url("../fonts/fontawesome-webfont.woff") format('woff')
		,url("../fonts/fontawesome-webfont.eot") format('embedded-opentype')
		,url("../fonts/fontawesome-webfont.ttf") format('truetype');
}
body {
	background-color: #F6F6F6;
	min-width: 980px;
	font-family: Arial, STHeiti, "Microsoft Yahei", sans-serif;
}
.fade{
	display: none;
}
.show{
	display: block;
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header,
.nav-main,
.mainbody{
	width: 980px;
	margin: 0 auto;
}


.header {
	height: 80px;
	line-height: 80px;
}

.nav {
	height: 50px;
	background-color: #87CEEB;
	margin-bottom: 10px;
}

.nav-main {
	/*width: 980px;
	margin: 0 auto;*/
}

.nav ul {
	list-style: none;
}

.nav ul li {
	display: inline;
	margin-right: 10px;
}

.nav ul li a {
	text-decoration: none;
	font-size: 18px;
	line-height: 50px;
	height: 50px;
	padding: 14px 9px;
	color: #fff;
}

.nav ul li a:hover {
	background-color: cornflowerblue;
	border-radius: 4px;
}

.mainbody{
	/*width: 980px;
	margin: 0 auto;*/
}
.aside {
	float: left;
	width: 200px;
	border: 1px solid #EFEFEF;
	margin-right: 10px;
	background-color: #fff;
}

.aside ul {
	list-style: none;
}

.aside ul li {
	border-bottom: 1px solid #EFEFEF;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
}

.aside ul a{
	color: #000000;
	text-decoration: none;
}
.aside ul a:hover li{
	color: #fff;
	background-color: cornflowerblue;
}
.aside ul a:first-child li:before{
	content: "\f0c9";
	width: 5px;
	height: 5px;
	font-family:iconFont;
}
.aside ul a li:before {
	content: "\f08e";
	width: 5px;
	height: 5px;
	font-family:iconFont;
}


.main {
	float: left;
	border: 1px solid #EFEFEF;
	background-color: #fff;
	width: 760px;
}

.section {
	width: 95%;
	margin: 10px auto;
}
.section h2:before{
	content: "\f03a";
	font-family:iconFont;
}
.s-content {
	margin: 5px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.s-content a.a-box {
	text-decoration: none;
	display: inline-block;
	margin-bottom: 10px;
	width: 30%;
	height: 100px;
	color: #000000;
	background-color: #F5F5F5;
	padding: 15px 5px 0 5px;
	border-radius: 8px;
}
.a-box h3 {
	color: #458B74;
	margin-bottom: 5px;
}

.a-box span {
	font-size: 13px;
}
.s-content a:hover {
	color: #2F4F4F;
	background-color: #E6E6FA;
}

.footer {
	border-top: 1px solid #E0DFE3;
	margin-top: 20px;
}
.exmples{
	background-color: #fff;
	height: 250px;
}
.foot-box{
	width: 220px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #E0DFE3;
}
.foot-box ul{
	list-style: none;
}
.foot-box ul li{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.foot-box a{
	text-decoration: none;
	color: #666;
}
.bottom{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #E0DFE3;
	text-align: center;
}

@media only screen and (max-width:920px ) {
	.aside{
		display: none;
	}
}