.zhongbiao {
	padding: 0;
	width: 242px;
	height: 242px;
	border: 1px solid #C3C3C3;
	background: -webkit-linear-gradient(right bottom,#c3c3c3,#ffffff);
	background: -o-linear-gradient(right bottom,#c3c3c3,#ffffff);
	background: -moz-linear-gradient(right bottom,#c3c3c3,#ffffff);
	background: linear-gradient(right bottom,#c3c3c3,#ffffff);
	border-radius: 50%;
	box-shadow: -3px 0 3px #E2E2E2, 0 -3px 3px #E2E2E2, 0 3px 3px #E2E2E2, 3px 0 3px #E2E2E2;
	
}
.zb_inner{
	position: relative;
	left: 6px;
	top: 6px;
	padding: 0;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 1px solid #C3C3C3;
	background-color: white;
}
[class*="zhizhen"] {
	position: absolute;
}

.zhizhen1 {
	transform-origin: 1px 100px 0;
	top: 15px;
	left: 114px;
	width: 2px;
	height: 115px;
	background: #101010;
	z-index: 10;
}

.zhizhen2 {
	transform-origin: 2px 70px 0;
	top: 45px;
	left: 113px;
	width: 4px;
	height: 80px;
	background: #444444;
	z-index: 11;
}

.zhizhen3 {
	transform-origin: 3px 50px 0;
	top: 65px;
	left: 112px;
	width: 6px;
	height: 60px;
	background: #696969;
	z-index: 12;
}
.zhongxin {
	position: absolute;
	top: 110px;
	left: 110px;
	width: 4px;
	height: 4px;
	background: white;
	border-radius: 50%;
	border: 3px solid black;
	z-index: 13;
}

[class*="kexian"] {
	position: absolute;
	width: 1px;
	height: 112px;
	left:114.5px;
	top: 3px;
	background: transparent;
	transform-origin: bottom;
	z-index: 9;
}

[class*="kexian"]:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 3px;
	left: 0px;
	top: -3px;
	background: #2e2e2e;
	transform-origin: bottom;
	z-index: 10;
}

.kexian2:after {
	height: 13px;
	width: 2px;
	left:-0.5px;
	background: #2e2e2e;
}

.kexian3:after {
	height: 8px;
	background: #2e2e2e;
}
.zb_num{
	display: inline-block;
}
.zb_date{
	margin-right: 10px;
}
.zb_hour,.zb_minute,.zb_second{
	width: 45px;
	height: 45px;
	line-height: 45px;
	background: #000A28;
	color: white;
	text-align: center;
	font-size: 28px;
}

/*幻灯片 循环显示图片*/
.imgs_slide{
	width: 900px;
	height: 506px;
	position: relative;
}
.imgs_list{
	width: 900px;
	height: 506px;
	overflow: hidden;
}
/*[class*="imgs_box"]*/
.imgs_box img{
	width: 900px;
	height: 506px;
	transition: all 0.4s;
}
.imgs_box:hover img{
	transform: scale(1.1,1.1);
}

.yuandian_btn{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
.yuandian{
	width: 15px;
	height: 15px;
	background: #C2C2C2;
	border-radius: 50%;
	display: block;
	float: left;
	margin: 5px;
}
.yuandian:hover{
	background: #3D3D3D;
}
.yd_active{
	background: #3D3D3D;
}
.imgs_slide span{
	cursor: pointer;
}
.prebtn,.nextbtn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
	font-weight: bold;
	font-family: "times new roman";
	width: 40px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	color: white;
	background: #C3C3C3;
}
.prebtn{
	left: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.nextbtn{
	right: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.prebtn:hover,.nextbtn:hover{
	background: #3D3D3D;
}

/* 搜索框的自动提示*/
.searchauto{
	width: 900px;
	min-height: 265px;
	position: relative;
	margin: 5px 0;
}
.searchauto form{
	height: 42px;
}
.searchauto input{
	display: block;
	float: left;
}
.search_input{
	height: 40px;
	line-height: 40px;
	width: 780px;
	border: 1px solid #C1C1C1;
	padding-left: 10px;
}

.search_btn{
	height: 42px;
	line-height: 42px;
	width: 100px;
	background: #03A9F4;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
}
.search_list{
	position: absolute;
	top: 42px;
	left: 0;
	background: white;
	list-style: none;
	width: 790px;
	border:1px solid #C1C1C1;
	border-top: none;
	box-shadow: 5px 0 5px #E0E0E0,0 5px 5px #E0E0E0;
}
.search_list li{
	padding-left: 10px;
	height: 25px;
	line-height: 25px;
}
.search_list li:hover{
	background: #EFEFEF;
}
.search_btn:hover{
	background: #002DFF;
}
.search_result{
	width: 890px;
	border:1px solid #C1C1C1;
	border-collapse: collapse;
}
.search_result th{
	background: #D0D0D0;
}
.search_result th,.search_result td{
	border-top:1px solid #C1C1C1;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	text-align: left;
}
.smfont{
	font-size: 11px;
	color: #666;
	margin-left: 10px;
}

/*猜数字游戏*/
.guess_box{
	margin-top: 10px;
	width: 900px;
	min-height: 200px;
}
.guess_box input[type=button]{
	height: 42px;
	line-height: 42px;
	width: 100px;
	background: #03A9F4;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
}
.guessform input,.guessform label{
	display: block;
	float: left;
}
.guessform label{
	height: 40px;
	line-height: 40px;
	width: 180px;
}
.guessform input[type=text]{
	height: 40px;
	line-height: 40px;
	width: 580px;
	border: 1px solid #C1C1C1;
	padding-left: 10px;
}
.guessform:after{
	content: "";
	display: block;
	clear: both;
	
}
#guessinput:disabled{
	background: #EFEFEF;
	cursor: not-allowed;
}
#submitguess:disabled{
	background: #C3C3C3;
	cursor: not-allowed;
}
.guess_list{
	margin-top: 10px;
}
.guess_value{
	font-weight: bold;
	margin-left: 10px;
}
.result_wrong,.result_right{
	width: 890px;
	color: white;
	padding-left: 10px;
	margin: 5px 0;
}
.result_wrong{
	background: red;
}
.result_right{
	background: green;
}
