.yuanjiao1{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	border-radius: 10px;
	margin: auto;
}
.yuanjiao2{
	width: 140px;
	height:140px;
	border-radius: 10px;
	border: 1px solid #0000FF;
	margin: auto;
}
.yuanjiao3{
	width: 140px;
	height: 140px;
	background-image: url(../imgs/fengjing.png);
	border-radius: 10px;
	margin: auto;
}
.yuanjiao4{
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #0000FF;
	margin: auto;
}
.yuanjiao5{
	padding: 5px;
	background-color: lightblue;
	border-radius: 10px;
	margin: auto;
}
.yuanjiao6{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	border-radius: 50%;
	margin: auto;
}
.yuanjiao7{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	border-top-left-radius:30px;
	margin: auto;
}
.yuanjiao8{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	border-top-right-radius: 50%;
	margin: auto;
}
.heyinying1{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	box-shadow: 10px 10px 5px #888888;
	margin: auto;
}
.heyinying2{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	box-shadow: 0 0 10px 10px #888888;
	margin: auto;
}
.heyinying3{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	box-shadow: -5px 0 5px -5px green, 
	0 -5px 5px -5px blue, 
	0 5px 5px -5px red, 
	5px 0 5px -5px yellow;
}
.heyinying4{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	box-shadow: -5px 0 5px green,
	0 -5px 5px blue, 
	0 5px 5px red, 
	5px 0 5px yellow;
}
.borderimg0{
	width: 140px;
	height: 140px;
	/*padding-top: 40px;*/
	background-image:url(../imgs/border.png); 
	background-repeat: no-repeat;
	background-size:120px 120px;
	text-align: center;
}
.borderimg1{
	border:15px solid transparent;
	width: 140px;
	height: 140px;
	-webkit-border-image:url(../imgs/border.png) 30 30 round; 
	border-image:url(../imgs/border.png) 30 30 round;
}
.borderimg2{
	border:15px solid transparent;
	/*width:250px;
	padding:10px 20px;*/
	width: 140px;
	height: 140px;
	-webkit-border-image:url(../imgs/border.png) 30 30 stretch; 
	border-image:url(../imgs/border.png) 30 30 stretch;
}
.borderimg3{
	border:15px solid transparent;
	width: 140px;
	height: 140px;
	/*padding:10px 20px;*/
	border-image-source:url(../imgs/border.png);
	border-image-slice: 50%;
	/*border-image-width:30 30;
	border-image-outset:30 30;*/
	border-image-repeat:round;
}
.borderimg4{
	border:15px solid transparent;
	width: 140px;
	height: 140px;
	/*padding:10px 20px;*/
	border-image-source:url(../imgs/border.png);
	/*border-image-slice: 50%;
	border-image-width:30 30;
	border-image-outset:30 30;*/
	border-image-repeat:round;
}
[class*="transf-"]{
	width: 140px;
	height: 140px;
	/*background-color: lightblue;*/
	background-image: url(../imgs/fangzi.png);
	margin: auto;
}
.transf-two1:hover{
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.transf-two2:hover{
	-webkit-transform: translate(10px,-20px);
	-ms-transform: translate(10px,-20px);
	transform: translate(10px,-20px);
}
.transf-two3:hover{
	-webkit-transform:scale(1.5,0.5);
	-ms-transform:scale(1.5,0.5);
	transform: scale(1.5,0.5);
}
.transf-two4:hover{
	-webkit-transform: skew(30deg,20deg);
	-ms-transform: skew(30deg,20deg);
	transform: skew(30deg,20deg);
}
.transf-two5:hover{
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,0,0);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,0,0);
	transform: matrix(0.866,0.5,-0.5,0.866,0,0);
}
[class*="transf-three"]{
	background-image: url(../imgs/yezishu.png);
}
.transf-three1:hover{
	-webkit-transform: rotateX(60deg);
	transform: rotateX(60deg);
	
}
.transf-three2:hover{
	-webkit-transform: rotateY(60deg);
	transform: rotateY(60deg);
	
}

[class*="guodu"]{
	width: 140px;
	height: 140px;
	background-image: url(../imgs/yezishu.png);
}
.guodu1{
	transition: width 2s,height 2s;
}
.guodu1:hover{
	height: 110px;
	width: 130px;
}
.guodu2{
	transition: transform 2s;
}
.guodu2:hover{
	-webkit-transform: rotate(360deg) scale(1.5,0.5);
	transform: rotate(360deg) scale(1.5,0.5);
}
.guodu3{
	transition: transform 2s;
}
.guodu3:hover{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
}

.animate1{
	width: 140px;
	height: 140px;
	background-color: lightblue;
	margin: auto;
	border-radius: 50%;
	animation:myanim1 5s infinite;
	-webkit-animation:myanim1 5s infinite;
}
@-webkit-keyframes myanim1{
	from{background-color: lightblue;width: 140px;height: 140px;}
	to{background-color: lightpink;width: 0px;height: 0px;
	}
}
@keyframes myanim1{
	from{background-color: lightblue;width: 140px;height: 140px;}
	to{background-color: lightpink;width: 0px;height: 0px;
	}
}
.animate2{
	position:relative;
	width: 20px;
	height: 20px;
	/*margin-left: 0;*/
	background-color: lightblue;
	animation:myanim2 6s linear infinite;
	-webkit-animation:myanim2 6s linear infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
}
@-webkit-keyframes myanim2{
	0%{
		background-color: lightblue;
		left: 0;
		top:0;
	}
	25%{
		background-color: red;
		left: 120px;
		top:0;
		height: 20px;
		border-radius: 50%;
		}
	50%{
		background-color: yellow;
		left: 120px;
		top:120px;
		height: 40px;
		border-radius: 50%;
	}
	75%{
		background-color: green;
		left: 0;
		top:120px;
		height: 20px;
		border-radius: 50%;
	}
	100%{
		background-color: lightblue;
		left: 0;
		top:0;
	}
}
@keyframes myanim2{
	0%{
		background-color: lightblue;
		left: 0;
		top:0;
	}
	25%{
		background-color: red;
		left: 120px;
		top:0;
		height: 20px;
		border-radius: 50%;
		}
	50%{
		background-color: yellow;
		left: 120px;
		top:120px;
		height: 40px;
		border-radius: 50%;
	}
	75%{
		background-color: green;
		left: 0;
		top:120px;
		height: 20px;
		border-radius: 50%;
	}
	100%{
		background-color: lightblue;
		left: 0;
		top:0;
	}
}
.animate3{
	position:relative;
	width: 40px;
	height: 40px;
	margin-left: 0;
	background-color: lightblue;
	animation:myanim3 2s linear infinite;
	-webkit-animation:myanim3 2s linear infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
}
@-webkit-keyframes myanim3{
	from{
		background-color: lightblue;left: 0;top:50px;
	}
	to{
		background-color: red;left: 100px;top:50px
		}
}
@keyframes myanim3{
	from{
		background-color: lightblue;left: 0;top:50px;
	}
	to{
		background-color: red;left: 100px;top:50px;
		}
}