#dado_box1,#dado_box2{
	width: 160px;
	height: 160px;
	border: 1px solid #999;
	padding: 5px;
	float: left;
	margin-right: 10px;
}
#dado_box1 img,#dado_box2 img{
	width: 150px;
	height: 150px;
	margin: 5px;
}

.lcst_box{
	position: relative;
	min-height: 200px;
}
.nomaltb{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #666;
}
.nomaltb th,.nomaltb td{
	border: 1px solid #666;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.addls_box{
	position: absolute;
	left: 50%;
	top: -10px;
	transform: translateX(-50%);
	width: 300px;
	height: 150px;
	border: 1px solid #999;
	background: rgb(255,255,255);
}
.addls_box form{
	margin: 15px;
}
.addls_box input{
	height: 25px;
	line-height: 25px;
	margin: 5px 0;
}
.addls_box input[type=text]{
	width: 180px;
	padding-left: 5px;
}

.lsbtn{
	width: 70px;
}
.lsbtn:first-child{
	margin-left: 55px;
	margin-right: 41px;
}
