body {
	min-width: 1200px;
}
.header,
.nav-main,
.mainbody,
.foot_box,
.bottom_main {
	width: 1200px;
	margin: 0 auto;
}
.header-r {
	float: right;
}
.main,
.box_right{
	width: 960px;
}

@media only screen and (max-width: 960px) {
	body {
		min-width: 1000px;
	}
	.pc-nav {
		display: none;
	}
	.phone-nav {
		display: block;
	}
	.aside {
		display: none;
	}
	.header-r {
		display: block;
	}
	.header,
	.nav-main,
	.mainbody,
	.foot_box,
	.bottom_main {
		width: 960px;
		margin: 0 auto;
	}
	
	.box_left {
		display: none;
	}
}

.header h1 a{
	text-decoration: none;
	color: #003300;
}
.aside ul {
	list-style: none;
	font-size: 13px;
}

.aside ul li {
	border-bottom: 1px solid #EFEFEF;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.aside ul.h_aside_all li {
	background-color: #f2f2f2;
}
.aside ul.h_aside_list li:first-child{
	background-color: cornflowerblue;
	color: #fff;
}
.aside ul.h_aside_list li:hover {
	font-weight: bold;
	cursor: pointer;
}
.main h2{
	line-height: 50px;
	margin-left: 10px;
	color: lightseagreen;
}
.main_area{
	width: 912px;
	margin: 10px auto;
	padding-bottom: 5px;
	border-bottom: 1px solid #C3C3C3;
}

.main_area h3{
	line-height: 40px;
}
.main_area p{
	line-height: 30px;
}
.ul_llist ul{
	list-style:none;
	padding-left: 20px;
}
.ul_llist ul li:before{
	content: "\f111 ";
	font-family: iconFont;
	color: #C3C3C3;
	font-size: 7px;
}
.eg-section{
	margin-top: 5px;
	border: 1px solid #C9C5C5;
	background: linear-gradient(#fff, #E5EECC);
	padding: 5px;
}
.eg-section h5{
	color: #006699;
	line-height: 30px;
}
.eg-box{
	border: 1px solid #C9C5C5;
	background-color: #FFFFFF;
	padding: 5px;
}
.yl-section{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	box-sizing: border-box;
}

.yl-box{
	border: 1px solid #C9C5C5;
	background-color: #FFFFFF;
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	/*width: 200px;
	height: 200px;*/
}
.yl-box:hover{
	border: 1px solid #777;
	/*box-shadow: 0 0 5px 5px #DEDEDE;*/
}
.yl-box>div{
	box-sizing: border-box;
}
.yl-inner{
	width: 140px;
	height: 140px;
	margin: auto;
}
.yl-desc{
	text-align: center;
	margin-top: 10px;
}
.p-section{
	background-color: #EFEFEF;
	border: 1px solid #C9C5C5;
	padding: 5px;
}
.img-section{
	margin-top: 15px;
	padding: 10px;
}
.eg-table{
	border: 1px solid #999966;
	padding: 10px;
	border-collapse: collapse;
	width: 100%;
}
.eg-table tr td:first-child{
	text-align: left;
}
.eg-table th,
.eg-table td{
	border: 1px solid #999966;
	padding: 5px;
	text-align: center;
}
.smail_face{
	padding-left: 20px;
}
.smail_face:after{
	content: "\0f118  ";
	width: 15px;
	height: 15px;
	color: #FF1493;
	font-family: iconFont;
}
.jindutiao{
	margin: 20px 0;
	width: 910px;
	height: 10px;
	border: 1px solid #C3C3C3;
}
.jindutiao_sub{
	width: 910px;
	height: 10px;
	background: lightblue;
	animation: jindutolong 5s infinite;
}
@-webkit-keyframes jindutolong{
	from{width: 0;}
	to{width: 910px;}
}
@keyframes jindutolong{
	from{width: 0;}
	to{width: 910px;}
}
