<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="HTML, CSS, JavaScript">
		<meta name="description" content="geqiuli learn HTML, CSS, JS, etc.">
		<meta name="author" content="geqiuli">
		<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
		<title>网页模板练习</title>
		<script src="../js/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/comm.css" />
		<link rel="stylesheet" type="text/css" href="../css/exindex.css" />
	</head>

	<body>
		<div class="container">
			<div class="header" id="header">
				<h1>网页模板练习</h1>
			</div>
			<div class="nav" id="nav">
				<div class="nav-main">
					<ul>
						<li>
							<a href="../index.html" target="_blank">首页</a>
						</li>
						<li>
							<a href="../learn/index.html" target="_blank">学习记录</a>
						</li>
						<li>
							<a href="index.html" target="_blank">网页模板练习</a>
						</li>
						<li>
							<a href="../index.html" target="_blank">使用工具</a>
						</li>
						<li>
							<a href="../index.html">登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mainbody">
				<div class="responsive">
					<div class="thumbnail">
						<a href="building.html" target="_blank">
							<div class="img-box">
								<img src="../imgs/building4.png" alt="building" />
							</div>
							<div class="description">
								建筑背景的网页模板
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="jianpan.html" target="_blank">
							<div class="img-box">
								<img src="../imgs/jianpan2.jpg" alt="jianpan" />
							</div>
							<div class="description">
								纯CSS打造银色键盘
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="building.html" target="_blank">
							<div class="img-box">
								<img src="../imgs/building4.png" alt="building" />
							</div>
							<div class="description">
								building
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="" target="_blank">
							<img src="../imgs/building4.png" alt="templates" />
							<div class="description">
								green field
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="" target="_blank">
							<div class="img-box">
								<img src="../imgs/building4.png" alt="building" />
							</div>
							<div class="description">
								building
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="" target="_blank">
							<div class="img-box">
								<img src="../imgs/building4.png" alt="building" />
							</div>
							<div class="description">
								building
							</div>
						</a>
					</div>
				</div>
				<div class="responsive">
					<div class="thumbnail">
						<a href="" target="_blank">
							<div class="img-box">
								<img src="../imgs/building4.png" alt="building" />
							</div>
							<div class="description">
								building
							</div>
						</a>
					</div>
				</div>
			</div>
			<div style="clear: both;">

			</div>
		</div>

	</body>
	<script type="text/javascript">
		$(function() {
			$(".container").append('<div id="foot"></div>');
			$("#foot").load("../index.html #footer");
		});
	</script>

</html>