<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="HTML, CSS, JavaScript">
		<meta name="description" content="geqiuli learn HTML, CSS, JS, etc.">
		<meta name="author" content="geqiuli">
		<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
		<title>CSS画键盘</title>
		<link href="../imgs/me.ico" type="image/x-icon" rel="shortcut icon">
		<link rel="stylesheet" type="text/css" href="../css/jianpan.css" />
		<script src="../js/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/comm.css" />
		<link rel="stylesheet" type="text/css" href="../css/learn.css" />
	</head>
	<body>
		<div class="xianshi">
			<div class="keyboard">
				<div class="gaizi"></div>
				<div class="heixian">
					<div class="zhuti">
						<div class="lianjie"></div>
						<div class="kaiguan">
							<button class="kaiguanjian">O</button>
						</div>
						<div class="jianpan">
							<div class="jianpannei">
								<div class="diyihang">
									<div class="jpbtn xiaojpbtn">ESC</div>
									<div class="jpbtn xiaojpbtn">F1</div>
									<div class="jpbtn xiaojpbtn">F2</div>
									<div class="jpbtn xiaojpbtn">F3</div>
									<div class="jpbtn xiaojpbtn">F4</div>
									<div class="jpbtn xiaojpbtn">F5</div>
									<div class="jpbtn xiaojpbtn">F6</div>
									<div class="jpbtn xiaojpbtn">F7</div>
									<div class="jpbtn xiaojpbtn">F8</div>
									<div class="jpbtn xiaojpbtn">F9</div>
									<div class="jpbtn xiaojpbtn">F10</div>
									<div class="jpbtn xiaojpbtn">F11</div>
									<div class="jpbtn xiaojpbtn">F12</div>
									<div class="jpbtn xiaojpbtn">Del</div>
								</div>
								<div class="yihang">
									<div class="jpbtn eryijpbtn erhang">~<br />`</div>
									<div class="jpbtn normaljpbtn erhang">!<br />1</div>
									<div class="jpbtn normaljpbtn erhang">@<br />2</div>
									<div class="jpbtn normaljpbtn erhang">#<br />3</div>
									<div class="jpbtn normaljpbtn erhang">$<br />4</div>
									<div class="jpbtn normaljpbtn erhang">%<br />5</div>
									<div class="jpbtn normaljpbtn erhang">^<br />6</div>
									<div class="jpbtn normaljpbtn erhang">&amp;<br />7</div>
									<div class="jpbtn normaljpbtn erhang">*<br />8</div>
									<div class="jpbtn normaljpbtn erhang">(<br />9</div>
									<div class="jpbtn normaljpbtn erhang">)<br />0</div>
									<div class="jpbtn normaljpbtn erhang">&mdash;<br />&minus;</div>
									<div class="jpbtn normaljpbtn erhang">+<br />=</div>
									<div class="jpbtn erhoujpbtn erhang">&larr;<br />Backspace</div>
								</div>
								<div class="yihang">
									<div class="jpbtn sanyijpbtn">Tab&#8644</div>
									<div class="jpbtn normaljpbtn">Q</div>
									<div class="jpbtn normaljpbtn">W</div>
									<div class="jpbtn normaljpbtn">E</div>
									<div class="jpbtn normaljpbtn">R</div>
									<div class="jpbtn normaljpbtn">T</div>
									<div class="jpbtn normaljpbtn">Y</div>
									<div class="jpbtn normaljpbtn">U</div>
									<div class="jpbtn normaljpbtn">I</div>
									<div class="jpbtn normaljpbtn">O</div>
									<div class="jpbtn normaljpbtn">P</div>
									<div class="jpbtn normaljpbtn erhang">{<br />[</div>
									<div class="jpbtn normaljpbtn erhang">}<br />]</div>
									<div class="jpbtn normaljpbtn erhang">|<br />\</div>
								</div>
								<div class="yihang">
									<div class="jpbtn siyijpbtn">Caps Lock</div>
									<div class="jpbtn normaljpbtn">A</div>
									<div class="jpbtn normaljpbtn">S</div>
									<div class="jpbtn normaljpbtn">D</div>
									<div class="jpbtn normaljpbtn">F</div>
									<div class="jpbtn normaljpbtn">G</div>
									<div class="jpbtn normaljpbtn">H</div>
									<div class="jpbtn normaljpbtn">J</div>
									<div class="jpbtn normaljpbtn">K</div>
									<div class="jpbtn normaljpbtn">L</div>
									<div class="jpbtn normaljpbtn erhang">:<br />;</div>
									<div class="jpbtn normaljpbtn erhang">"<br />'</div>
									<div class="jpbtn siyijpbtn">Enter</div>
								</div>
								<div class="yihang">
									<div class="jpbtn wuyijpbtn">&uArr; Shift</div>
									<div class="jpbtn normaljpbtn">Z</div>
									<div class="jpbtn normaljpbtn">X</div>
									<div class="jpbtn normaljpbtn">C</div>
									<div class="jpbtn normaljpbtn">V</div>
									<div class="jpbtn normaljpbtn">B</div>
									<div class="jpbtn normaljpbtn">N</div>
									<div class="jpbtn normaljpbtn">M</div>
									<div class="jpbtn normaljpbtn erhang">&lang;<br />,</div>
									<div class="jpbtn normaljpbtn erhang">&rang;<br />.</div>
									<div class="jpbtn normaljpbtn erhang">?<br />/</div>
									<div class="jpbtn wuyijpbtn">&uArr; Shift</div>
								</div>
								<div class="yihang">
									<div class="jpbtn normaljpbtn">Ctrl</div>
									<div class="jpbtn normaljpbtn">Fn</div>
									<div class="jpbtn normaljpbtn tserhang">&#9744&#9744<br />&#9744&#9744</div>
									<div class="jpbtn liusijpbtn">Alt</div>
									<div class="jpbtn liuwujpbtn"></div>
									<div class="jpbtn liusijpbtn">Alt</div>
									<div class="jpbtn normaljpbtn">Ctrl</div>
									<div class="sigejpbtn">
										<div class="yigeshang">
											<div class="xxjpbtn">&uarr;</div>
										</div>
										<div class="sangexia">
											<div class="xxjpbtn">&larr;</div>
											<div class="xxjpbtn">&darr;</div>
											<div class="xxjpbtn">&rarr;</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="chumoban">
							<div class="chumoanjian">

							</div>
							<div class="chumoanjian">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript">
		$(function() {
			$("body").prepend('<div id="nav"></div>');
			$("#nav").load("index.html #nav");
		});
	</script>

</html>